body{
    margin: 0px;
}

/* body Header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(background.jpeg);
   
}

/* Horizontal lists */

.horizontal-list{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover{
    color: red;
    border-bottom: 1px solid white;
}

.text-center{
    text-align: center;
}


#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a{

    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
    
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px red;

}

section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section:nth-child(2n){
    background-color: lightgray;
}

section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-left: 0.5rem;

    
}
/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    transition: 1s;
    width: 17%;
    height: auto;
    min-width: 240px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: +1;
    transform: translateY(-50%);
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 4px lightgrey;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 60%;
}

#about-para #self-info span{
    color: #2857a4;
}

#about #self-info{
    color: grey;
    font-size: 1.5em;
    text-align: justify;
    width: 70%;
    min-width: 660px;
    margin: -3em auto 2em;
}

/* Common margin classes */

/*
.mb75px{
    margin-bottom: 75px;

}

*/

.section-heading{
    width: auto;
}

/* skills section */

#skills-icon{
    height: 30px;
}
#skills-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.skill-progress{
    width: 20%;
    min-width: 180px;
    height: auto;
    border-radius: 25px;
    background-color: lightgrey;
    margin: 2rem 1rem;
}

.skill-progress > div{
    border-radius: 25px 0 0 25px;
    box-shadow: 4px 0px 4px 0px grey;
    
}


#skill-1, #skill-5{
    background-color: blue;
}


#skill-2 {
    background-color: orangered;
  }
  
  #skill-4 {
    background-color: green;
  }
  
  #skill-3, #skill-6 {
    background-color: palevioletred;
  }
  
  .skill-name {
    margin-left: 10px;
    color: white;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }


/* common percentage class */
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.fifty-percent{
    width: 50%;
    height: inherit;
}

